.cima{
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
}


.back{
    background-color:rgb(44, 44, 44);
    background-repeat: no-repeat;
    margin-top: 100px;
   
  }
.margem{
    margin-top: 100px;
    margin-bottom: 100px;
}