.butlogin {
    margin-left: 20px;
    padding: 5px 15px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;

    
  }
  
  .butlogin:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }



 
